*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: var(--font-default);
    font-size: 1.6rem;
    line-height: 1rem;
    font-weight: 300;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
