:root {
    --font-default: "Roboto", monospace;
    --font-info: monospace;

    // Light Mode Palette
    --color-primary: #2948ff;
    --color-primary-1: #396afc;
    --color-primary-light: #e0e4ff;
    --color-white: #fff;

    // Dark mode Palette
    --color-dark-primary-bg: #000;
    --color-dark-primary-text: rgba(66, 66, 66, 0.71);
}
