:root {
    --font-default: "Poppins", sans-serif;

    // Light Mode Palette
    --color-primary: #2948ff;
    --color-primary-light: #e0e4ff;

    // Dark mode Palette
    --color-dark-primary-bg: #000;
    --color-dark-primary-text: rgba(66, 66, 66, 0.71);
}
