.btn-inv {
    outline:none;
    border:none;
    background-color: transparent;
    cursor:pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    &--rg {
        float: right;
    }

    &--lf {
        float: left;
    }
}

.theme-btn {
    display: flex;
    align-self: flex-start;
    margin-top: 1.5rem;
    justify-self: center;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    height: 4.5rem;
    width: 4.5rem;
}