.swiper-container {
    height: 24rem;
    margin: 1rem 2rem;
    background-color: var(--color-primary);
    border-radius: 5px;
}

.swiper-wrapper {
    display: flex;
    border-radius: 5px;
    margin: 0 auto;
}

.swiper-slide {
    display: flex;
    background-color: var(--color-primary);
}

// .swiper-pagination {
//     height: 10px;
// }