.swiper-container {
    height: 24rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media only screen and (min-height: 650px){
    .swiper-container {
        margin-top: 25%;
    }
}

@media only screen and (min-height: 800px){
    .swiper-container {
        margin-top: 40%;
    }
}


.swiper-wrapper {
    display: flex;
    border-radius: 5px;
    margin: 0 auto;
}

.swiper-slide {
    display: flex;
}
