// Main App Info Container
.main-container {
    height: 100vh;
    width: 100vw;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2948ff 50%, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2948ff 50%, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    display: grid;
    grid-template-columns: repeat(3, 1fr) [content-start] repeat(4, minmax(80px, 1fr)) [content-end] repeat(3, 1fr);
    grid-template-rows: 1fr [searchbar-start] 0.5fr [searchbar-end weather-start] repeat(5, 1.3fr) [weather-end theme-start] 1fr [theme-end];
}

.searchbar {
    grid-area: searchbar-start / content-start / searchbar-end / content-end;
    margin-bottom: 1.5rem;
}

.weather-card {
    border-radius: 5px;
    box-shadow: inset 0 0 3px 2px var(--color-primary-1);
    grid-area: weather-start / content-start / weather-end / content-end;
}

.copy {
    grid-area: theme-start / content-start / theme-end / content-end;
}
