// Main App Info Container
.main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) [content-start] repeat(4, minmax(90px, 1fr)) [content-end] repeat(3, 1fr);
    grid-template-rows: 1fr [searchbar-start] 0.5fr [searchbar-end weather-start] repeat(6, 1.3fr) [weather-end];
}

.location-ly {
    grid-row: 1/ 2;
    grid-column: content-start / content-end;
    transform: translateY(0);
    animation-name: moveInTop-1;
    animation-duration: 0.300s;
    animation-timing-function: var(--bezier-function);
}

.searchbar {
    grid-area: searchbar-start / content-start / searchbar-end / content-end;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-white);
    box-shadow: 0px 1.5px 1px -1px var(--color-white);
    display: flex;
    &__icon {
        fill: var(--color-white);
        margin-right: .5rem;
        height: 2.5rem;
        width: 2.5rem;
        animation-name: moveInTop-1;
        animation-duration: 0.300s;
        animation-timing-function: var(--bezier-function);
    
        &--info {
            justify-self: flex-end;
        }
    }  
}

.weather-card {
    grid-area: weather-start / content-start / weather-end / content-end;
}

.forecast-container {
    grid-column: content-start/content-end;  
}

.theme-toggler {
    grid-area: 1 / 10 / 2 / 11;
    background-color: transparent;
    height: 3rem;
    width: 3rem;
}

@media only screen and (max-width: $screen-medium){
    .theme-toggler {
        grid-area: 1 / 7 / 2 / 8;
    }
}

// .copy {
//     grid-area: theme-start / content-start / theme-end / content-end;
// }
